@page "/"
@using Calculator.Language

<h1>Calculator</h1>

<form class="input" @onsubmit="Calculate">
    <input type="text" @bind="@input" tabindex="0" autofocus/>
    <button @onclick="Calculate">=</button>
</form> 

<h2>&gt; @result</h2>


@code {
    private string input;
    private double result;

    private void Calculate()
    {
        result = new Calculator().Calculate(input);
    }
}